@import "src/scss/variables";
@import "src/scss/mixin";

.content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 76.5vh;



  .clear {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
  
