@import "src/scss/variables";
@import "src/scss/mixin";

.content {
  margin-top: 16px;


  .clear {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
  
