@import "src/scss/common/common";

.header {
  background: white;
  @include paddingHeaderVar();

  .container {
    display: flex;

    .logo {

      a {
        @media (max-width: $breakpoint_X-small_top) {
          display: flex;
          justify-content: start;
          align-items: center;
        }

        img {
          @media (max-width: $breakpoint_X-small_top) {
            width: 90px;
          }

        }
      }

    }

    nav {
      margin: auto;
      width: 275px;
      text-align: center;
      display: flex;
      justify-content: space-between;

      @media (max-width: $breakpoint_sm_medium) {
        justify-content: space-around;
      }

      span {
        .active {
          color: $mainBlue;
          pointer-events: none;

        }

        a {
          @include text(16px, 500, 20px, black);
          padding-bottom: 2px;

          &:hover {
            border-bottom: 1px solid $mainBlue;
          }
        }

      }

    }
  }
}


