
@mixin text($fontSize, $fontWeight, $lineHeight, $color) {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color
}

@mixin input {
  height: 20px;
  padding: 11px 12px;
  border: 1px solid #D5D6DC;
  border-radius: 8px;
  background: white;
}