$mainBlue: #5E96FC;
$black: #232134;
$grey: #ACADB9;


//  X-Small	None	<576px
//  Small	sm	≥576px
//  Medium	md	≥768px
//   Large	lg	≥992px
//   Extra large	xl	≥1200px
//    Extra extra large	xxl	≥1400px

$breakpoint_xl: 1300px;
$breakpoint_lg: 1100px;
$breakpoint_lg_bottom: 1000px;
$breakpoint_md: 991px;
$breakpoint_md_medium: 840px;
$breakpoint_sm_top: 767px;
$breakpoint_sm_medium: 600px;
$breakpoint_sm_small: 550px;
$breakpoint_X-small_top: 440px;
$breakpoint_X-small_medium: 420px;
$breakpoint_X-small_small: 370px;



@mixin paddingLayoutVar () {
  padding: 0 162px;

  @media (max-width: $breakpoint_xl) {
    padding: 0 112px;
  }

  @media (max-width: $breakpoint_lg) {
    padding: 0 30px;

  } @media (max-width: $breakpoint_X-small_medium) {
    padding: 0 15px;

  }
}


@mixin paddingHeaderVar () {
  padding: 23px 162px;;

  @media (max-width: $breakpoint_xl) {
    padding: 20px 112px;
  }

  @media (max-width: $breakpoint_lg) {
    padding: 15px 30px;

  }
  @media (max-width: $breakpoint_X-small_medium) {
    padding: 10px 15px;

  }
}

